
.loading-operators-icon {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e9e97e;
    z-index: 10;
    justify-content: center;
    align-items: center;
    cursor: none;
}

.credit-options-container  {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .content {
        position: relative;
        display: grid;
        flex-direction: row;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
        >.content-info {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
}

.credit-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 4px 12px rgba(0, 0, 0, 0.08);
    gap: 5px;  
    max-height: 0;
    opacity: 0;
    transform: translateY(-5px);

    transition: 
        max-height 0.4s ease-in-out,
        opacity 0.25s ease-in-out,
        transform 0.25s ease-in-out;

    &.inPlace {
        max-height: max-content;
        opacity: 1;
        transform: translateY(0);
    }
    >.credit-info-header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        >h2 { 
            font-weight: bold;
            color: #646464;
        }
        > label {
            font-weight: bold;
        }

    }
    > .main-content-credit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        position: relative;
        > .content-info {

            position: relative;
            display: flex;
            flex-direction: column;

            > label {
                font-weight: bold;
                color: #646464;
            }
        }
    }
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.select-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    margin-top: 2px;
    border-radius: 5px;
    min-height: 40px;
    overflow-y: auto;
    max-height: 140px;
    width: 100%;
    transform: translateY(65px);
    z-index: 20;
    box-shadow: #d1d1d1 0 1px 1px 0;
    >.select-item {
        position: relative;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        
        > label { 
            position: relative;
            cursor: pointer;
            color: rgb(100, 100, 100);
        }
        
        &:hover {
            background-color: #cfe0d8;
        }
        
        &.selected {
            background-color: #aadfc6;
            >label {
                color: rgb(29, 29, 29);
            }
        }
    }
    &.no-item {
            transform: translateY(65px);
    }
}


@media screen and (max-width:768px) {
    .credit-container >.main-content-credit {
         grid-template-columns: 1fr;
    }
    .credit-options-container > .content  {
            display: flex;
            flex-direction: column;
        }

}