.page-body {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#093f46 10%, #286e77 90%);
    justify-content: center;
    align-items: center;

    >.change-password-container {
        background-color: white;
        width: 350px;
        min-height: 340px;
        height: fit-content;
        padding: 20px 10px;
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        >.header-content {

            >h1 {
                font-size: 18px;
                font-weight: 600;
            }

            >label {
                font-size: 14px;
            }
        }

        >.input {
            display: flex;
            width: 100%;
            height: 35px;
            position: relative;
            transition: transform ease 0.2s;
            margin: 15px 0;

            input {
                cursor: pointer;
                z-index: 1;
                width: 100%;
                height: 100%;
                display: flex;
                outline: none;
                border-bottom: 1px solid rgb(243, 243, 243);
                transition: all ease 0.1s;

                &:focus {
                    border-bottom: 2px solid #093f46;
                }
            }

            &:focus-within .input-label {
                transform: translateY(-20px);
                font-size: 12px;
                color: #093f46;
            }
            
            
            
            >.input-label {
                font-size: 14px;
                color: #5a5a5a;
                position: absolute;
                left: 5px;
                top: 7px;
                transition: all ease 0.2s;
                &.hasText {
                    transform: translateY(-25px);
                }
            }
            > .erase {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 95%;
                right: 0;
                cursor: pointer;
                width: 40px;
                z-index: 2;
                border-radius: 5px;
                -webkit-user-select: none; /* For Safari */
                -ms-user-select: none;    /* For IE 10 and 11 */
                user-select: none;        /* Standard syntax */
                &:hover{
                    background-color: #e7e7e7;
                }
                &:active {
                    font-size: 10px;
                }
            }
        }
        > .show-password-button {
            font-size:15px; 
            text-align: right;
            cursor:pointer;
            color:rgb(20, 20, 145);
        }
        > .password-instructions {
            >.header {
                font-size: 14px;
                font-weight: bold;
            }
            > .instructions-list {
                font-size: 14px;
                list-style-type: square; 
                margin: 0; 
                background-color: #eeeeee; 
                border-radius: 5px;
                margin-bottom: 20px;
                li {
                    margin-left: 18px;
                    &.validating {
                        color: red;
                    }
                    &.isValid {
                        color:#077531;
                    }
                }
            }
        } 
    }
}