
.header-container {
    display: flex;
    flex-direction: column;
    >.options-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > a {
            color: rgb(6, 6, 138);
            cursor: pointer;
            transition: all ease 0.2s;
            border-radius: 2px;
            &:hover {
                text-decoration: underline;
            }
            &:active {
                background-color: rgb(241, 241, 241);
                transform: translateY(-2px);
            }
        }
    }
    >.content-info {
        display: flex;
        justify-content: space-around;
        background-color: rgb(250, 250, 250);
        border-radius: 5px;
        padding: 10px;
    }
}

.qr-input-container {
    display: flex;
    align-items: center;
    height:40px;
    gap: 10px;
    > .trash-icon-container {
        position: relative;
        width: 40px;
        height: 100%;
        display: flex;
        background-color: rgb(241, 241, 241);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
            background-color: rgb(235, 235, 235);
        }
        &:active {
            :only-child {
                scale: 0.9;
            }
        }
    }
}

.ticket-info {
    > .ticket-info-container {
        display: grid;
        gap: 5px;
        border-radius: 10px;
        padding: 10px 5px;
        background-color: rgb(231, 231, 231);
        grid-template-columns: 1fr 1fr 1fr;
        >.info-content {
            > label {
                background: white;
                padding: 0 5px;
            }
        }
    }
}

.payment-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 5px;
    border: 1px solid rgb(224, 224, 224);
    gap: 10px;
    >.payment-option-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 5px;
        > .payment-option {
            width: 100%;
            display: flex;
            flex-direction: column;
            > input {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .content-info {
        flex-direction: column;
    }

    .qr-input-container {
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    > .trash-icon-container  {
                width: 100%;
                height: 40px;
           }
    }
    .ticket-info  >.ticket-info-container {
        grid-template-columns: 1fr 1fr;
    }
    .payment-container {
 
    >.payment-option-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 5px;
    }
}
}
