.credit-info-content {
    display: flex;
    border-radius: 5px;
    padding: 5px 10px;
    flex-direction: column;
    gap: 5px;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 2px 4px rgba(0, 0, 0, 0.08);
}

.content {
    display: flex;
    flex-direction: column;
}

.close-credit-information {
    border-top: 1px solid rgb(228, 228, 228);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:768px) {

    // .credit-info-content {
    //     align-items: center;
    // }
    .close-credit-information {
        display: grid;
        grid-template-columns: 1fr;
    }
}