
.header-container {
    display: flex;
    flex-direction: column;
    >.options-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > a {
            color: rgb(6, 6, 138);
            cursor: pointer;
            transition: all ease 0.2s;
            border-radius: 2px;
            &:hover {
                text-decoration: underline;
            }
            &:active {
                background-color: rgb(241, 241, 241);
                transform: translateY(-2px);
            }
        }
    }
    >.content-info {
        display: flex;
        justify-content: space-around;
        background-color: rgb(250, 250, 250);
        border-radius: 5px;
        padding: 10px;
    }
}

.qr-input-container {
    display: flex;
    align-items: center;
    height:40px;
    gap: 10px;
    > .trash-icon-container {
        position: relative;
        width: 40px;
        height: 100%;
        display: flex;
        background-color: rgb(241, 241, 241);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
            background-color: rgb(235, 235, 235);
        }
        &:active {
            :only-child {
                scale: 0.9;
            }
        }
    }
}

.ticket-info {
    > .ticket-info-container {
        flex-direction: column;
        display: flex;
        gap: 5px;
        border-radius: 10px;
        padding: 10px 5px;
        background-color: rgb(255, 255, 255);
        box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 2px 4px rgba(0, 0, 0, 0.08);
        >.info-content {
            > label {
                background: white;
                padding: 0 5px;
            }
        }
        &.hasToPay {
            background-color: rgb(252, 230, 230);
        }

        >.ticket-info-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: 1px solid rgb(204, 204, 204);
        }
    }
}
.ticket-info-content {
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

.payment-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .header-payment-content {
        display: flex;
        flex-direction: column;
        > .payment-total-info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
.payment-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 5px;
    gap: 10px;
    box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 2px 4px rgba(0, 0, 0, 0.08);
    >.payment-option-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 5px;
        > .payment-option {
            width: 100%;
            display: flex;
            flex-direction: column;
            > input {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .content-info {
        flex-direction: column;
    }

    .qr-input-container {
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    > .trash-icon-container  {
                width: 100%;
                height: 40px;
           }
    }

    .payment-container {
 
        >.payment-option-container {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            gap: 5px;
        }
    }
    .payment-content > .header-payment-content >.payment-total-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
}
