.credit-info-content {
    display: flex;
    border-radius: 5px;
    padding: 5px 0;
    flex-direction: column;
    box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 2px 4px rgba(0, 0, 0, 0.08);
}
.content {
    display: flex;
    flex-direction: column;
}