.credit-info-content {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 0;
    flex-direction: column;
    box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.12),
                0 4px 12px rgba(0, 0, 0, 0.08);
}